{% extends "layout.html" %}
{% block title %}Hi{% endblock %}
{% block body %}
<div class="jumbotron">
 	<div class="container">
		<h1 class="main_title">NUTwitter</h1>
		<p>This is a basic Twitter clone built for <a href="https://www.northeastern.io">Northeastern.io</a>, a class run through the <a href="http://www.northeastern.edu/entrepreneurs/">Northeastern Entrepreneurs Club</a> to teach basic programming and webdev skills to students around the Boston area.</p>
		<p><a class="btn btn-primary btn-lg" role="button" href="https://www.northeastern.io">Learn more</a></p>
	</div>
 </div>
{% endblock %}