{% extends "layout.html" %}
{% block title %}
	{% if request.endpoint == 'user_timeline' %}
		{% if g.user.id == profile_user.id %}
			Your profile
		{% else %}
			{{ profile_user.username }}'s Profile
		{% endif %}
	{% else %}
		News feed
	{% endif %}
{% endblock %}
{% block body %}
<div class="container">

	<div class="col-md-3">
		<h1>{{ self.title() }}</h1>
		{% if request.endpoint == 'user_timeline' %}
			<p class="center"><img  src="{{ profile_user.email|gravatar(size=250) }}"></p>
			
			<!-- Followers-->
			<div class="col-md-6 center box">
				Followers: {{ followers }}
			</div>

			<!-- Following -->
			<div class="col-md-offset-6 center box">
				Following: {{ followings }}
			</div>

			<!-- Follow/Unfollow buttons -->
			{% if g.user.id != profile_user.id %}
				{% if followed %}
					<form action="{{ url_for('unfollow_user', username=profile_user.username) }}" method=GET>
						<div class="actions"><input class="btn btn-danger btn-md" type=submit value="Unfollow"></div>
					</form>
				
				{% else %}
					<form action="{{ url_for('follow_user', username=profile_user.username) }}" method=GET>
						<div class="actions"><input class="btn btn-primary btn-md" type=submit value="Follow"></div>
					</form>
				{% endif %}
			{% endif %}
		{% else %}
			<div class="box col-md-12">
				<h4>What's on your mind?</h4>

				<!--Check for/display errors-->
				{% if error %}
				<ul id="error_explanation">
					<li>{{ error }}</li>
				</ul>
				{% endif %}

				<form action="{{ url_for('add_post') }}" method=POST enctype="multipart/form-data">
					</p><input type=textarea name=text size=140>
					<div class="actions"><input class="btn btn-primary" type=submit value="Share"></div>
				</form>
			</div>
		{% endif %}
	</div>

	<div class="col-md-8 posts">
	{% for post in posts %}

		<!-- Post -->
		<div class="post">
			
			<!-- User thumbnail -->
			<div class="col-md-2">
				<a href="{{ url_for('user_timeline', username=post.user.username) }}"><img src="{{ post.user.email|gravatar(size=60) }}"></a>
			</div>

			<!-- Content -->
			<div class="description">
				<strong>
				<a href="{{ url_for('user_timeline', username=post.user.username) }}">{{ post.user.username }}</a>
				</strong>
				<small>{{ post.pub_date | datetimeformat }}</small>
				<p>{{ post.body }}</p>
			</div>
		</div>
	{% else %}
		<p>There are no posts so far.</p>
	{% endfor %}
	</div>
</div>
{% endblock %}